body{
    margin: 5px 20px;
    padding: 0px;
}
.navbar{
    display: flex;
   justify-content: space-between;

    .navbar__menu__list{
        display: flex;
        float: right;
        list-style: none;
        padding-right: 50px;
        li{
            padding-left: 60px;
            cursor: pointer;
            &:hover{
                color: hotpink;
            }

        }
        
    }
   
}
